.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 30px;
  background-color: rgb(3, 3, 76);
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-height: 70vh;
  background-color: rgb(231, 248, 156);
  box-shadow: 4px 10px 10px 5px rgba(238, 255, 176, 0.8);
  border-radius: 30px;
  gap: 30px;
  h1{
    font-family: "Dancing Script", cursive;
  font-size:50px;
  font-weight: 700;
  font-style: normal;
  }
  input{
    width:70%;
    height: 40px;
    font-size: 25px;
     padding: 10px;
    border: 2px solid transparent;
    border-radius: 30px;
  }
}

.setCountry{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    select{
      width:100px;
      font-size: 20px;
    }
    button{
      width:50px;
      border-radius: 50%;
      border-color: transparent;
      font-size: 20px;
    }
    p{
      font-size:20px;
      font-weight: 500;
    }
}
.convert{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0px;
}
.convertbtn{
  width: 300px;
  height: 30px;
  cursor: pointer;
   border-radius: 30px;
   border: 2px rgb(117, 65, 5) solid;
   background-color:rgb(3, 3, 76);
   font-size: 20px;
   padding: 2px;
   color:white;
}
.result{
  font-size: 30px;
  .display{
    font-weight: 500;
  }
}